<%# <%= render "simple_form", dice: @dice %>

<div class="container">
<h2>Does your game needs dices?</h2>
<h3>Time to toss the dice but first, mention the number of dices needed and how many faces you need your dices to have.</h3>

<%= simple_form_for([@game, @dice], url: game_pieces_path, remote: true) do |f| %>
    <%= f.input :dices %>  
    <%= f.input :faces %>
      <%= f.button :submit %>
<% end %>
</div>
